streamlit 
torch 
torchvision
numpy 
pandas 
Pillow 
matplotlib 
seaborn 
scikit-learn
torchcam
opencv-python-headless
statsmodels
psutil
pip install --upgrade torch torchvision
pip install --upgrade torchcam
